@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v17-latin-700.woff2') format('woff2');
}

:root {
  --colour-brand-dark: #011c44;
  --colour-brand-light: #2b7fff;
  --colour-primary-light: #ffffff;
  --colour-footer-data: #747272;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--colour-brand-dark);
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.adress-link {
  text-decoration: none;
  color: var(--colour-primary-light);
  font-size: 14px;
  transition: color 0.2s;
}

.adress-link:hover {
  color: var(--colour-brand-light);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* button section */
.button {
  width: 219px;
  height: 53px;
  background-color: var(--colour-brand-light);
  border: 2px solid var(--colour-brand-light);
  border-radius: 32px;
  color: var(--colour-primary-light);
  padding: 16px 32px;
  transition: color 0.2s;
}

.button:hover {
  background-color: transparent;
  color: var(--colour-brand-dark);
}

.button {
  cursor: pointer;
}

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--colour-brand-dark);
  padding: 0;
  cursor: pointer;
  fill: var(--colour-brand-dark);
  transition: fill 0.2s;
}

.carousel-button:hover {
  fill: var(--colour-primary-light);
  background-color: var(--colour-brand-light);
  border: 1px solid var(--colour-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* link section */
.footer-link {
  color: var(--colour-primary-light);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover {
  color: var(--colour-brand-light);
}

.link {
  color: var(--colour-brand-dark);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: color 0.2s;
}
.link:hover {
  color: var(--colour-brand-light);
}

/* nav section */
.nav-item {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-grow: 1;
}

.nav-icon {
  display: flex;
  gap: 32px;
}

.footer-icons-nav {
  display: flex;
  gap: 32px;
  fill: var(--colour-primary-light);
  transition: fill 0.2s;
}

.footer-icons-nav:hover {
  fill: var(--colour-brand-light);
}

.icons-custom {
  display: flex;
  gap: 32px;
  transition: fill 0.2s;
}

.icons-custom:hover {
  fill: var(--colour-brand-light);
}

/* Header */

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  background: linear-gradient(
    94deg,
    var(--colour-primary-light) 9.65%,
    rgba(255, 255, 255, 0.85) 26.08%,
    rgba(255, 255, 255, 0.19) 52.74%,
    rgba(255, 255, 255, 0) 74.46%
  );
  backdrop-filter: blur(5px);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
}

.header-container {
  padding: 32px 0;
  display: flex;
  align-items: center;
}

/* hero section */
.hero-title {
  color: var(--colour-brand-light);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 0;
  line-height: 114px;
  padding: 16px 0 40px;
}

.hero-title-description {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.accent {
  color: var(--colour-brand-light);
}
/* text section */
.text-accent {
  font-weight: 600;
}

.secondary-text {
  font-size: 12px;
}

/* main section */

.main-section {
  background-image: linear-gradient(
      94deg,
      var(--colour-primary-light) 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url(../imges/main-section-background.jpg);
  width: 1150px;
  height: 686px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  left: 538px;
}

.main-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 126px;
  padding-left: 116px;
  padding-top: 110px;
  margin-left: -315px;
}

.main-text {
  font-size: 18px;
}

/* description section */

.blue-star {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1145px;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.grey-star {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 250px;
  left: 1135px;
  animation-name: spin;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.darkblue-star {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 337px;
  left: 810px;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.description-text {
  display: flex;
  gap: 32px;
  position: relative;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-photo {
  display: flex;
  justify-content: space-between;
  width: 499px;
  height: 695px;
}

.description-items {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  max-width: 530px;
  line-height: 1.1;
}

/* procedures-section */

.procedures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.procedures-text {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.list-of-procedurs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.list-item {
  height: 456px;
  width: 344px;
  padding: 115px 32px 77px;
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--colour-brand-dark) 99.06%
  );
  flex-basis: calc((100% - 32px) / 3);
}

/* contact-section */

.contact-container {
  display: flex;
  gap: 32px;
  padding-left: 80px;
}

.contact-text {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.contact-map {
  border-radius: 32px;
  flex-shrink: 0;
}

/* advantages section */

.advantages-title .centred {
  text-align: center;
}

.advantages-text {
  margin: 0 auto 48px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.advantages {
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: space-around;
  gap: 56px;
}

.advantages-container {
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.advantage-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 205px;
  padding: 32px 24px;
  max-width: 316px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-list {
  width: 316px;
  height: 181px;
  padding: 24px 32px 24px 32px;
  border-radius: 32px;
}

/* list section */
.list-of-procedurs {
  font-size: 22px;
}
/* footer */

footer {
  position: relative;
  background-color: var(--colour-brand-dark);
  padding: 56px;
}

.footer::after {
  position: absolute;
  content: '';
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url(../imges/background-photo-1.png);
  width: 248px;
  height: 152px;
  flex-shrink: 0;
  right: 0px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-adress {
  flex-grow: 1;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  flex-grow: 1;
}

.footer-icon {
  display: flex;
  gap: 24px;
  color: transparent;
}

/* data section */
.data-in-save {
  font-size: 13px;
  color: var(--colour-footer-data);
}

.custom-card {
  width: 48px;
  height: 48px;
}

/* modal */

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 730px;
  height: 100%;
  max-height: 680px;
  padding: 42px 135px;
  background-color: var(--colour-brand-dark);
  color: var(--colour-primary-light);
  border-radius: 42px;
  overflow-y: auto;
}

.contact-modal {
  position: relative;
  width: 100%;
  max-width: 423px;
  height: 100%;
  max-height: 481px;
  background-color: var(--colour-brand-dark);
  color: var(--colour-primary-light);
  border-radius: 42px;
  padding: 50px 55px;
}

.contact-modal-undertitle-line {
  width: 274px;
  text-align: center;
  font-size: 22px;
  margin: 0 16px 32px;
  line-height: 1.3;
}

.contact-form-field {
  margin-bottom: 16px;
  width: 310px;
}

.modal-title {
  text-align: center;
  font-size: 64px;
}

.modal-undertitle-line {
  width: 274px;
  text-align: center;
  margin: 0 80px;
}

.modal-undertitle-line-span {
  color: var(--colour-brand-light);
}

.modal-btn-close {
  position: absolute;
  right: 42px;
  top: 42px;
}

.icon-close {
  color: var(--colour-primary-light);
}

/* form */

.form-input {
  padding: 18px 32px;
  font-size: 13px;
  width: 100%;
  border-radius: 32px;
  background-color: transparent;
  border: 1px solid var(--colour-footer-data);
}

.form-input::placeholder {
  color: var(--colour-primary-light);
  font-size: 13px;
}

.form-input:focus {
  background-color: var(--colour-footer-data);
}

.form-button {
  display: block;
  width: 280px;
  height: 55px;
  margin: 0 auto 24px;
  font-size: 18px;
}

.form-button:hover {
  color: var(--colour-primary-light);
  border-color: var(--colour-brand-light);
}

.form-field {
  margin: 24px 65px;
  width: 310px;
}

.form-term {
  max-width: 213px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  color: var(--colour-footer-data);
}

.form-term-link {
  text-underline-offset: 2px;
  color: var(--colour-footer-data);
}
