@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v17-latin-700.woff2') format('woff2');
}

:root {
  --colour-brand-dark: #011c44;
  --colour-brand-light: #2b7fff;
  --colour-primary-light: #ffffff;
  --colour-footer-data: #747272;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--colour-brand-dark);
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.adress-link {
  text-decoration: none;
  color: var(--colour-primary-light);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* button section */
.button {
  width: 219px;
  height: 53px;
  background-color: var(--colour-brand-light);
  border: 2px solid var(--colour-brand-light);
  border-radius: 32px;
  color: var(--colour-primary-light);
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--colour-brand-dark);
}

.button {
  cursor: pointer;
}

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--colour-brand-dark);
  padding: 0;
  cursor: pointer;
  fill: var(--colour-brand-dark);
}

.carousel-button:hover {
  fill: var(--colour-primary-light);
  background-color: var(--colour-brand-light);
  border: 1px solid var(--colour-primary-light);
}

/* link section */
.footer-link {
  color: var(--colour-primary-light);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--colour-brand-light);
  font-weight: 700;
}

.link {
  color: var(--colour-brand-dark);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.link:hover {
  color: var(--colour-brand-light);
  font-weight: 700;
}

/* nav section */
.nav-item {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-grow: 1;
}

.nav-icon {
  display: flex;
  gap: 32px;
}

/* Header */

.header-nav {
  display: flex;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
}

.header-container {
  padding: 32px 0;
  display: flex;
  align-items: center;
}

/* hero section */
.hero-title {
  color: var(--colour-brand-light);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 0;
  line-height: 114px;
  padding: 16px 0 40px;
}

.hero-title-description {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.accent {
  color: var(--colour-brand-light);
}
/* text section */
.text-accent {
  font-weight: 600;
}

.secondary-text {
  font-size: 12px;
}

/* main section */

.main-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 126px;
  padding-left: 116px;
}

.main-text {
  font-size: 18px;
}

/* description section */
.description-text {
  display: flex;
  gap: 32px;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-photo {
  display: flex;
  justify-content: space-between;
}

.description-items {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  max-width: 530px;
  line-height: 1.1;
}

/* procedures-section */

.procedures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.procedures-text {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.list-of-procedurs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.list-item {
  height: 456px;
  width: 344px;
  padding: 115px 32px 77px;
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--colour-brand-dark) 99.06%
  );
  flex-basis: calc((100% - 32px) / 3);
}

/* contact-section */

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-text {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.contact-map {
  border-radius: 32px;
  flex-shrink: 0;
}

/* advantages section */

.advantages-title .centred {
  text-align: center;
}

.advantages-text {
  margin: 0 auto 48px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.advantages {
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: space-around;
  gap: 56px;
}

.advantages-container {
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.advantage-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 205px;
  padding: 32px 24px;
  max-width: 316px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-list {
  width: 316px;
  height: 181px;
  padding: 24px 32px 24px 32px;
  border-radius: 32px;
}

/* list section */
.list-of-procedurs {
  font-size: 22px;
}
/* footer */

footer {
  background-color: var(--colour-brand-dark);
  padding: 56px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-adress {
  flex-grow: 1;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  flex-grow: 1;
}

.footer-icon {
  display: flex;
  gap: 24px;
  color: transparent;
}

/* data section */
.data-in-save {
  font-size: 13px;
  color: var(--colour-footer-data);
}

.custom-card {
  width: 48px;
  height: 48px;
}
