footer {
  position: relative;
  background-color: var(--colour-brand-dark);
  padding: 56px;

  &::after {
    position: relative;

    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      content: '';
      bottom: 0;
      background-repeat: no-repeat;
      background-image: url(../imges/background-photo-1.png);
      width: 248px;
      height: 152px;
      flex-shrink: 0;
      right: 0px;
    }
  }
}

.footer-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }

  &__logo {
    position: relative;
    margin-bottom: 42px;
    left: 5px;

    @media screen and (min-width: $bp-tablet) {
      top: -50px;
    }
  }

  &__link {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    flex-grow: 1;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 16px;
      flex-grow: 1;
    }
  }

  &__adress {
    flex-grow: 1;
  }
}

.footer-icon {
  display: flex;
  gap: 24px;
  color: transparent;
}
