.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  background: linear-gradient(
    94deg,
    var(--colour-primary-light) 9.65%,
    rgba(255, 255, 255, 0.85) 26.08%,
    rgba(255, 255, 255, 0.19) 52.74%,
    rgba(255, 255, 255, 0) 74.46%
  );
  backdrop-filter: blur(5px);

  &__container {
    padding: 32px 0;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 56px;
    flex-grow: 1;
  }
}
