.icons-custom {
  display: flex;
  gap: 32px;
  transition: fill 0.2s;
  padding-right: 0;

  &__footer {
    display: flex;
    gap: 32px;
    transition: fill 0.2s;
    padding-right: 0;

    @media screen and (min-width: $bp-tablet) {
      padding-right: 100px;
    }
  }

  &:hover {
    fill: var(--colour-brand-light);
  }

  &__footer-icons-nav {
    display: flex;
    gap: 32px;
    fill: var(--colour-primary-light);
    transition: fill 0.2s;

    &:hover {
      fill: var(--colour-brand-light);
    }
  }
}
