.nav-item {
  display: none;

  @media screen and (min-width: 1240px) {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-grow: 1;
  }
}

.nav-icon {
  display: none;

  @media screen and (min-width: 1240px) {
    display: flex;
    gap: 32px;
  }
}

.icons-custom {
  display: flex;
  gap: 32px;
  transition: fill 0.2s;

  &:hover {
    fill: var(--colour-brand-light);
  }

  &__footer-icons-nav {
    display: flex;
    gap: 32px;
    fill: var(--colour-primary-light);
    transition: fill 0.2s;

    &:hover {
      fill: var(--colour-brand-light);
    }
  }
}
